@using Rarkaine.Portal.Web.Areas.Admin.Models.Layout
@using Rarkaine.Portal.Web.Areas.Admin.Views.Shared.Components.AdminLogo
@model HeaderViewModel
@{
    Layout = null;
    var theme = await GetTheme();
}
<a href="@Url.Action("Index", "Home", new {area = string.Empty})" class="brand-logo">
    @await Component.InvokeAsync(typeof(AdminLogoViewComponent), new {LogoSkin = ViewBag.BrandLogoSkin})
</a>
